# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## npm
/node_modules/
/npm-debug.log

## temp folders
/.tmp/

# build
/components/**/*.js
/components/**/*.js.map

# Logs
logs
*.log
npm-debug.log*
npm-error.log*
coverage
