@import '../../../variables.less';

@audio-player-channel-label-no-display: 600px;

@jwp-height: 45px;
@jwp-height-w-waveform: 140px;

@content-window-height-mobile: 300px;
@content-window-height-desktop: 400px;

/* BookReader */
.BRfullscreenActive .bookreader-wrapper item-navigator {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}
.bookreader-wrapper #BookReader.fullscreenActive {
  max-height: unset;
}
/* BookReader */

.audio-with-youtube-spotify {
  max-height: inherit;
  color-scheme: dark;
  padding: .5rem;
  color: @f-white;

  .submenu {
    position: absolute;
    right: 6px;

    .submenu-item {
      height: 30px;
      width: 30px;

      > * {
        height: inherit;
        width: inherit;
      }
    }
  }

  .playlist-section {
    margin-top: 1rem;
    padding-bottom: 2rem;
    overflow-y: auto;
  }

  @media (max-width: @audio-player-channel-label-no-display)   {
    .channel-controls {
      .option {
        text-align: center;
      }
      .channel-label {
        display: none;
      }
    }
  }
  @media (max-width: @audio-player-mobile-max-width) {
    display: block;
    // Channel labels only show logos at mobile view
    .channel-controls {
      .option {
        text-align: center;
      }
    }
  }

  @media (max-width: @audio-player-tablet-max-width) {
    .content-window,
    #BookReader {
      height: @content-window-height-mobile;
    }
    .content-window .album-cover {
      height: calc(@content-window-height-mobile - @jwp-height); // 45px is the height of the player controls
    }

    .content-window .album-cover.no-cover {
      height: calc(@content-window-height-mobile - @jwp-height-w-waveform); // 140px is the height of the player controls w/ waveform
    }

    .media-section {
      margin-bottom: 1rem;
    }

    .channel-controls {
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;
    }
    .playlist-section {
      max-height: 170px;

      .page-buttons,
      .pagination-arrow {
        display: none;
      }
    }
  }

  @media (min-width: @audio-player-desktop-min-width)  {
  display: flex;
  min-height: 450px;

    .content-window,
    #BookReader {
      height: @content-window-height-desktop;
    }

    .content-window .album-cover {
      height: calc(@content-window-height-desktop - @jwp-height);
    }

    .content-window .album-cover.no-cover {
      height: calc(@content-window-height-desktop - @jwp-height-w-waveform);
    }

    .media-section {
      display: inline-block;
      width: 51%;
    }

    .grid-right {
      display: inline-block;
      width: 47%;
    }

    padding-left: 1rem;
    padding-bottom: 1rem;

    .media-section {
      margin: 1rem;
    }

    .playlist-section {
      padding-right: 1rem;

    }
  }

  @media (min-width: @audio-player-desktop-min-width) and (max-width: @audio-player-desktop-max-width) {
    
    .channel-controls {
      .channel-label {
        display: none;
      }
    }

    .playlist-section {
      max-height: 90%;
      overflow: auto;

      .pagination-arrow,
      .page-buttons {
        display: none;
      }

        &.column {
          > * {
            width: 100%;
          }
        }
    }
  }

  @media (max-width: @audio-player-desktop-max-width) {
    .playlist-section {
      .flexbox-pagination {
        flex-wrap: nowrap;
      }
    }
  }

  @media(min-width: @audio-player-widescreen-min-width) {
    .media-section {
      margin: 0;
      width: 40%;
    }
    .grid-right {
      width: 58%;
      margin-left: 1%;
    }
    .playlist-section {
      .flexbox-pagination {
        height: calc(@content-window-height-desktop - 50px);
        float: unset;

        &.column {
          > * {
            width: 49%;
          }
        }
      }
    }
  }

  .channel-controls .channel-icon,
  .tabs .channel-icon {
    display: inline-block;
    margin: auto;
  }

  .channel-controls .channel-label,
  .tabs .channel-label {
    vertical-align: top;
    font-weight: 400;
    padding-left: 0.5rem;
  }

  .channel-controls {
    .title {
      display: inline-block;
      margin-right: 1rem;
      vertical-align: top;
      margin-top: .6rem;
    }
  }

  .selector__radio-group {
    width: inherit;

    .option {
      padding: 0.5rem 1rem 0;

      label {
        margin-bottom: 0;
      }

      .webamp-link {
        &:hover {
          text-decoration: none;
        }
        display: inline-block;
        overflow: hidden;
        color: #fff;
        opacity: 0.5;
        img {
          height: 2rem;
        }
        .channel-label {
          margin-top: .1rem;
        }

        @media (max-width: @audio-player-mobile-max-width) {
          text-align: center;
          display: block;
          width: 100%;
        }
      }
    }
  }
}
